.autocomplete-items div {
    font-family: inherit;
    padding: 9px;
    cursor: pointer;
    background-color: #fff;
    text-align: left;
    font-size: inherit;
    font-style: inherit;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #05BC66 !important;
    color: #ffffff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 500px;
    overflow-y: auto;
}

.mat-heighlight {
    color: #05BC66;
    font-weight: 600;
}
.mat-heighlight svg{
    position: relative;
    top: 2px;
    padding-right: 5px;
    fill: #05BC66;
}
.mat-product-insearch{
    display: flex;
    flex-wrap: wrap;
}
.mat-product-insearch img{
    width: 13%;
    height: auto;
    display: block;
    margin:auto;
}
.mat-product-insearch span{
    width: 87%;
    margin: auto;
    padding-left: 5px;
}
.mat-product-insearch:hover{
    color: #048a4b;
}
.mat-heighlight:hover{
    color: #048a4b;
}
.mat-heighlight svg:hover{
    fill:#048a4b;
}
.mat-searched-prod-image{
    width: auto !important;
    height: 100%;
}
.mat-percentage{
    display: inline-block;
    padding-left: 10px;
    text-align: center;
}
.mat-percentage-info{
    position: relative;
    margin-left: 5px;
    cursor: pointer;
}
.matul-info-div{
    position: absolute;
    z-index: 100;
    background: white;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px 1px gainsboro, 1px 2px 1px 1px gainsboro;
    padding: 5px;
}
.mat-shop-header .matul-info-div{
    display: none;
}
.mat-shop-header:hover .matul-info-div{
    display: block;
}